# Ignore folder named ".vscode"
.vscode/
build/

# C# Players Guide
csharp_players_guide/part_1/hello/hello/obj/Debug
csharp_players_guide/part_1/hello/hello/bin/Debug
csharp_players_guide/part_1/hello/.vs/hello/v15

# Beginning C++ Through Game Programming
beginning_c++_though_game_programming/counter/.vs
beginning_c++_though_game_programming/counter/out
beginning_c++_though_game_programming/designers_network/.vs
beginning_c++_though_game_programming/designers_network/out
beginning_c++_though_game_programming/die_roller/.vs
beginning_c++_though_game_programming/die_roller/out
beginning_c++_though_game_programming/expensive_calculator/.vs
beginning_c++_though_game_programming/expensive_calculator/out
beginning_c++_though_game_programming/finicky_counter/.vs
beginning_c++_though_game_programming/finicky_counter/out
beginning_c++_though_game_programming/game_over/.vs
beginning_c++_though_game_programming/game_over/out
beginning_c++_though_game_programming/game_stats/.vs
beginning_c++_though_game_programming/game_stats/out
beginning_c++_though_game_programming/game_stats2/.vs
beginning_c++_though_game_programming/game_stats2/out
beginning_c++_though_game_programming/game_stats3/.vs
beginning_c++_though_game_programming/game_stats3/out
beginning_c++_though_game_programming/give_me_a_number/.vs
beginning_c++_though_game_programming/give_me_a_number/out
beginning_c++_though_game_programming/global_reach/.vs
beginning_c++_though_game_programming/global_reach/out
beginning_c++_though_game_programming/guess_my_number/.vs
beginning_c++_though_game_programming/guess_my_number/out
beginning_c++_though_game_programming/hangman/.vs
beginning_c++_though_game_programming/hangman/out
beginning_c++_though_game_programming/heros_inventory/.vs
beginning_c++_though_game_programming/heros_inventory/out
beginning_c++_though_game_programming/heros_inventory2/.vs
beginning_c++_though_game_programming/heros_inventory2/out
beginning_c++_though_game_programming/heros_inventory3/.vs
beginning_c++_though_game_programming/heros_inventory3/out
beginning_c++_though_game_programming/high_scores/.vs
beginning_c++_though_game_programming/high_scores/out
beginning_c++_though_game_programming/inventory_displayer/.vs
beginning_c++_though_game_programming/inventory_displayer/out
beginning_c++_though_game_programming/inventory_pointer/.vs
beginning_c++_though_game_programming/inventory_pointer/out
beginning_c++_though_game_programming/inventory_referencer/.vs
beginning_c++_though_game_programming/inventory_referencer/out
beginning_c++_though_game_programming/lost_fortune/.vs
beginning_c++_though_game_programming/lost_fortune/out
beginning_c++_though_game_programming/mad_lib/.vs
beginning_c++_though_game_programming/mad_lib/out
beginning_c++_though_game_programming/menu_chooser/.vs
beginning_c++_though_game_programming/menu_chooser/out
beginning_c++_though_game_programming/play_again/.vs
beginning_c++_though_game_programming/play_again/out
beginning_c++_though_game_programming/play_again2/.vs
beginning_c++_though_game_programming/play_again2/out
beginning_c++_though_game_programming/pointing/.vs
beginning_c++_though_game_programming/pointing/out
beginning_c++_though_game_programming/referencing/.vs
beginning_c++_though_game_programming/referencing/out
beginning_c++_though_game_programming/score_rater/.vs
beginning_c++_though_game_programming/score_rater/out
beginning_c++_though_game_programming/score_rater2/.vs
beginning_c++_though_game_programming/score_rater2/out
beginning_c++_though_game_programming/score_rater3/.vs
beginning_c++_though_game_programming/score_rater3/out
beginning_c++_though_game_programming/string_tester/.vs
beginning_c++_though_game_programming/string_tester/out
beginning_c++_though_game_programming/swap/.vs
beginning_c++_though_game_programming/swap/out
beginning_c++_though_game_programming/swap_pointer/.vs
beginning_c++_though_game_programming/swap_pointer/out
beginning_c++_though_game_programming/taking_damage/.vs
beginning_c++_though_game_programming/taking_damage/out
beginning_c++_though_game_programming/tic-tac-toe/.vs
beginning_c++_though_game_programming/tic-tac-toe/out
beginning_c++_though_game_programming/tic-tac-toe_board/.vs
beginning_c++_though_game_programming/tic-tac-toe_board/out
beginning_c++_though_game_programming/tie-tac-toe2/.vs
beginning_c++_though_game_programming/tie-tac-toe2/out
beginning_c++_though_game_programming/word_jumble/.vs
beginning_c++_though_game_programming/word_jumble/out
beginning_c++_though_game_programming/yes_or_no/.vs
beginning_c++_though_game_programming/yes_or_no/out