# Ignore folder named ".vscode"
.vscode/
build/
/csharp_players_guide/part_1/hello/hello/obj/Debug
/csharp_players_guide/part_1/hello/hello/bin/Debug
/csharp_players_guide/part_1/hello/.vs/hello/v15
/beginning_c++_though_game_programming/expensive_calculator/.vs
/beginning_c++_though_game_programming/expensive_calculator/out
/beginning_c++_though_game_programming/game_over/.vs
/beginning_c++_though_game_programming/game_over/out
beginning_c++_though_game_programming/game_stats/.vs
beginning_c++_though_game_programming/game_stats/out
beginning_c++_though_game_programming/game_stats2/.vs
beginning_c++_though_game_programming/game_stats2/out
beginning_c++_though_game_programming/game_stats3/.vs
beginning_c++_though_game_programming/game_stats3/out
beginning_c++_though_game_programming/lost_fortune/.vs
beginning_c++_though_game_programming/lost_fortune/out