# Ignore folder named ".vscode"
.vscode/
build/

# C# Players Guide
csharp_players_guide/part_1/hello/hello/obj/Debug
csharp_players_guide/part_1/hello/hello/bin/Debug
csharp_players_guide/part_1/hello/.vs/hello/v15

# Beginning C++ Through Game Programming
beginning_c++_though_game_programming/designers_network/.vs
beginning_c++_though_game_programming/designers_network/out
beginning_c++_though_game_programming/die_roller/.vs
beginning_c++_though_game_programming/die_roller/out
beginning_c++_though_game_programming/expensive_calculator/.vs
beginning_c++_though_game_programming/expensive_calculator/out
beginning_c++_though_game_programming/finicky_counter/.vs
beginning_c++_though_game_programming/finicky_counter/out
beginning_c++_though_game_programming/game_over/.vs
beginning_c++_though_game_programming/game_over/out
beginning_c++_though_game_programming/game_stats/.vs
beginning_c++_though_game_programming/game_stats/out
beginning_c++_though_game_programming/game_stats2/.vs
beginning_c++_though_game_programming/game_stats2/out
beginning_c++_though_game_programming/game_stats3/.vs
beginning_c++_though_game_programming/game_stats3/out
beginning_c++_though_game_programming/guess_my_number/.vs
beginning_c++_though_game_programming/guess_my_number/out
beginning_c++_though_game_programming/lost_fortune/.vs
beginning_c++_though_game_programming/lost_fortune/out
beginning_c++_though_game_programming/menu_chooser/.vs
beginning_c++_though_game_programming/menu_chooser/out
beginning_c++_though_game_programming/play_again/.vs
beginning_c++_though_game_programming/play_again/out
beginning_c++_though_game_programming/play_again2/.vs
beginning_c++_though_game_programming/play_again2/out
beginning_c++_though_game_programming/score_rater/.vs
beginning_c++_though_game_programming/score_rater/out
beginning_c++_though_game_programming/score_rater2/.vs
beginning_c++_though_game_programming/score_rater2/out
beginning_c++_though_game_programming/score_rater3/.vs
beginning_c++_though_game_programming/score_rater3/out